h1,
h2,
h3 {
    line-height: 1.2em;
}
h1{
    font-weight: 400;
    font-size: 72px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 34px;
}

body {
    font-family: 'Open-Sans' sans-serif;
    line-height: 1.6em;
    font-size: 16px;
}

.white {
    color: #fff;
}

.t_white {
    color: #d7ccc0;
}

.light {
    color: #f5f4f0;
}

.primary {
    color: #fe8a02;
}

.primary_dark {
    color: #42413c;
}

.dark {
    color: #2a2626;
}

.t_dark {
    color: #908d8b;
}

.brown {
    color: #b09a81;
}

.blue {
    color: #1085c5;
}
.open_sans {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}
.neucha {
    font-family: 'Neucha', italic;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}
.block {
    text-align: start;
    margin-right: 30px;
    width: 540px;

}

.btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 24px;
    padding: 12px 24px;
    background-color: #FE8A02;
    color: #ffffff;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1110px;
    
}

/*---HEADER---*/

.header {
    height: 914px;
    
}

.header::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: "";
}
.section-header__container {
    position: relative;
    padding: 100px 0;

}

.section_header-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 500;
}

.section_header-img {
    position: absolute;
    width: 1080px;
    right: -270px;
    top: 55px;
    z-index: 20;
}

.section_header-subtitle {
    position: absolute;
    display: flex;
    margin-top: 100px;
}

/*---HEADER---*/

/*---MAIN---*/
.main {
    background-color: #ffffff;

}
.section-video {
 
}
.section-video__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 914px;

}
.section-video__content {
}
.block-text {
    max-width: 1110px;
}
.block-text__title {
    margin: 27px;
    text-align: center;
    font-size: 60px;
    line-height: 72px;

}
.block-text__text {
    text-align: center;
    margin-bottom: 30px;
}
.section-video__video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
/*-/--MAIN---*/
.section-navigation {
    margin: 0;
    padding: 0;
}
.section-navigation::before {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 990px;
    width: 1440px;
    background-color: #42413C;
    content: "";
}

/*---FOOTER---*/
footer {
    
}

/*-/--FOOTER---*/
